# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# VS Code
.vscode
.vscode/*
.DS_Store
*/.DS_Store

#.idea files
.idea
.idea/
.idea/*

# Other
.env
*.txt
*/*.txt